.rs-global-notification {
  min-width: 360px;
  max-width: 650px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  background: #0F181B;

  padding: 0 0 0 16px;
  margin-bottom: 8px;

  transition: top ease-in .5s;

  .rs-global-notification-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 16px;
    width: 20px;
    height: 20px;
  }

  .rs-global-notification-text {
    font-size: 14px;
    line-height: 16px;

    padding: 16px 12px;

    .without-button {
      padding-right: 16px;
    }

    color: #fff
  }

  .rs-global-notification-button {
    align-self: stretch;

    padding: 16px;
    display: flex;
    align-items: center;
    margin-left: auto;

    color: #fff;
    border-left: 1px solid rgba(255, 255, 255, .3);
    border-radius: 0 4px 4px 0;

    cursor: pointer;

    &:hover {
      background: #000;
    }
  }
}